.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}
.card {
  width: 40vw;
  padding: 16px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  & > div {
    margin-bottom: 16px;
  }
}
.formActions > button {
  margin-right: 8px;
}