.root {
  width: 100%;
}
.userBtn {
  margin-left: auto;
}
.child {
  padding: 8px;
  padding-top: 80px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  & > div {
    max-width: 1080px;
    width: 100%;
  }
}
.drawer {
  width: 240px;
}
.drawerSpacing {
  height: 72px;
  width: 240px;
}
.menuItem, .menuItem * {
  text-decoration: none;
}
.menuItem span {
  color: #000;
}
.menuItem {
  color: #000;
}