.root {
  width: 100%;
}
.userBtn {
  margin-left: auto;
}
.child {
  padding: 8px;
  padding-top: 72px;
}
.drawer {
  width: 240px;
}
.drawerSpacing {
  height: 72px;
  width: 240px;
}
.menuItem, .menuItem * {
  text-decoration: none;
}
.menuItem span {
  color: #000;
}
.menuItem {
  color: #000;
}