.root {
  padding: 8px;
}
.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  & > span {
    margin-top: 8px;
  }
}
.nameRow {
  display: flex;
  align-items: center;
}
.actions {
  display: flex;
  flex-direction: column;
  & > button {
    margin-top: 8px;
  }
  padding-bottom: 8px;
}